.main {
    form {
        margin: 0px 0 50px 0;
    }
}
.new-films {
    h1 {
        margin: 3px 0 40px 0;
        &::after {
            content: "";
            position: absolute;
            margin: 0.85em 0 0 13px;
            height: 3px;
            background-color: #f7b151;
            width: 100%;
        }
    }
}
.top-week {
    h2 {
        margin: 10px 0 40px 40px;
        &::before {
            content: "";
            position: absolute;
            left: -8px;
            margin: 0.25em 0px 0 0;
            height: 3px;
            background-color: #f7b151;
            width: 35px;
        }
        &::after {
            content: "";
            position: absolute;
            margin: 0.85em 0 0 16px;
            height: 3px;
            background-color: #f7b151;
            width: 100%;
        }
    }
}
.new-films,
.top-week {
    position: relative;
    margin-bottom: 55px;
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
    &-item {
        padding-left: 7.5px;
        padding-right: 7.5px;
        img {
            width: 100%;
            margin: 0;
        }
        .caption {
            text-align: center;
            padding: 10px;
            strong {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .thumbnail {
            margin-bottom: 15px;
        }
        .thumbnail:hover {
            background-color: $color-accent;
            border-color: $color-accent;
            transition: background-color 0.25s;
            strong {
                color: $color-light;
            }
        }
    }
}
.films-news {
    margin-bottom: 55px;
    h2 {
        margin: 10px 0 40px 40px;
        &::before {
            content: "";
            position: absolute;
            left: -8px;
            margin: 0.25em 0px 0 0;
            height: 3px;
            background-color: #f7b151;
            width: 35px;
        }
        &::after {
            content: "";
            position: absolute;
            margin: 0.85em 0 0 16px;
            height: 3px;
            background-color: #f7b151;
            width: 100%;
        }
    }
    &-item {
        img {
            width: 100%;
        }
        p {
            margin-bottom: 10px;
        }
        .btn {
            float: right;
            margin-bottom: 30px;
        }
        .thumbnail {
            margin-bottom: 15px;
        }
        &:hover {
            .thumbnail {
                background-color: $color-accent;
                border-color: $color-accent;
                transition: background-color 0.25s;
            }
            .btn {
                background-color: $color-accent;
            }
        }
    }
}