.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 5px black; }

.navbar-inverse {
  background-color: #191919;
  border-color: transparent; }

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159; }
  .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #517ba2; }

.navbar-inverse .navbar-nav > li > a {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  @media (min-width: 768px) {
    .navbar-inverse .navbar-nav > li > a {
      border-radius: 4px; } }
  @media (max-width: 767px) {
    .navbar-inverse .navbar-nav > li > a {
      text-align: center; } }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #165690; }

.navbar-header {
  text-align: center; }

.navbar-toggle {
  float: none;
  margin-right: 0; }

@media (max-width: 767px) {
  .navbar-right {
    margin-top: 0; } }

@media (min-width: 768px) {
  .navbar-right li {
    margin: 5px 0 5px 5px; } }

@media (max-width: 767px) {
  .navbar-left {
    margin-bottom: 0; } }

@media (min-width: 768px) {
  .navbar-left li {
    margin: 5px 5px 5px 0; } }

.panel {
  margin-bottom: 30px;
  border: none;
  background-color: #f1f1f1; }
  .panel-default > .panel-heading {
    color: #ffffff;
    background-color: #df8a13;
    border: none; }
  .panel-title {
    font-size: 1.2rem;
    letter-spacing: 0.1em; }
  .panel-body {
    border-radius: 4px;
    border: 1px solid #dddddd; }

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem; }

html {
  font-size: 16px; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 1rem; }

a {
  color: #165690; }
  a:hover, a:focus {
    text-decoration: none;
    color: #df8a13; }

h1 {
  margin: -7.5px 0 45px;
  font-family: "PT Serif", serif; }
  @media (min-width: 576px) {
    h1 {
      font-size: 3rem; } }
  @media (max-width: 575px) {
    h1 {
      font-size: 2rem; } }

h2 {
  margin: 3.75px 45px 45px;
  font-family: "PT Serif", serif; }
  @media (min-width: 576px) {
    h2 {
      font-size: 2.5rem; } }
  @media (max-width: 575px) {
    h2 {
      font-size: 1.75rem; } }

@media (min-width: 576px) {
  h3 {
    font-size: 1.5rem; } }

@media (max-width: 575px) {
  h3 {
    font-size: 1.25rem; } }

section {
  position: relative;
  overflow: hidden; }

.header {
  margin-bottom: 60px; }
  .header-logo {
    padding: 100px 20px;
    text-align: center;
    background-image: url(../img/header-bg.jpg);
    background-position: 50% 50%;
    background-size: cover; }
    .header-logo__title {
      display: block;
      color: #df8a13;
      font-family: "PT Serif", serif; }
      @media (min-width: 576px) {
        .header-logo__title {
          letter-spacing: 0.33em;
          font-size: 3.5rem; } }
      @media (max-width: 575px) {
        .header-logo__title {
          letter-spacing: 0.2em;
          font-size: 2.5rem; } }
    .header-logo__description {
      display: block;
      color: #ffffff;
      letter-spacing: 0.2em;
      font-size: 1.15rem; }

.left-sidebar {
  margin-bottom: 60px; }

.vertical-slider {
  border-radius: 4px;
  overflow: hidden; }
  .vertical-slider img {
    width: 100%; }
